.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px; /* Adjust the max-width as needed */
  width: 90%; /* Adjust the width to fit smaller screens */
  height: 95vh;
  margin: 0 auto;
  padding: 20px; /* Optional padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  background-color: #fff; /* Optional background color */
  border-radius: 8px; /* Optional rounded corners */
  box-sizing: border-box; /* Ensures padding doesn't affect total width */
}

@media (max-width: 600px) {
  .main-container {
    width: 100%; /* Full width on very small screens */
    padding: 10px; /* Reduce padding for small screens */
  }
}

.chat-messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.chat-message-container-user {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.chat-message-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
}

.chat-message-user {
  word-wrap: break-word;
  max-width: 90%;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.chat-message {
  word-wrap: break-word;
  max-width: 90%;
  background-color: teal;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
}

.user-input-field {
  width: 100%;
}

.send-user-input-button {

}
